<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" data-ui-sref="Home"><b>Pure</b>Owin Identity</a>
        </div>
        <div class="collapse navbar-collapse">
            <!-- Any navigation goes here --> 
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <!-- Sign in & Sign up -->
                <li id="sign-up" data-ng-if="!security.user"><a data-ui-sref="SignUp">Sign Up</a></li>
                <li id="sign-in" data-ng-if="!security.user"><a data-ui-sref="SignIn">Sign In</a></li>
                <!-- Signed in. Profile Menu -->
                <li id="cogs-menu" class="hidden">
                    <a href="edit-profile.html">
                        <i class="fa fa-gears fa-lg"></i>
                    </a>
                </li>
                <li data-ng-if="security.user" data-ng-cloak="" class="dropdown" style="cursor: pointer;">
                    <a class="dropdown-toggle">
                        {{security.user.userName}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="account">
                            <div class="avatar"></div>
                            <p><b>{{security.user.userName}}</b><br />{{security.user.email}}</p>
                            <p><a data-ui-sref="ManageProfile">Profile</a> | <a data-ng-click="security.logout()" style="cursor: pointer;">Sign out</a></p>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>